* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    
}
body{
	background-color: #9e72726b;
}
.clearfix{
    clear:both;
}
.container{
    width:85%;
    
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
	margin-top: 30px;
    margin-bottom: 30px;
	background-color: rgb(235, 210, 210);
} 


ul.menu{
    text-align: center;
    padding: 30px;
   width:80%;
   margin-top: 20px;
   
margin: auto;
}
.menu > li {
    display: inline-block;
    width: 10%;
    text-align: center;
    	font-size: 30px;
    
}
li a:hover{
    background-color:greenyellow;
    color: white;
}
#big a:hover{
    padding: 30px;
}
.main{
	text-align: center;
	padding: 30px;
	background-color: white;
	width: 80%;
	margin: auto;
}
.img1{
	width:80%;
	margin: auto;
	margin-left: 10%;
}
.radio-button{
	text-align: center;
	padding: 2%;
}

.card-1{
	width:28.33%;
    float: left;
    	margin-left: 2%;

}

.card-2{
	width: 28.33%;
    float: left;
	

}
.card-3{
	width: 28.33%;
    float: left;
    
	


}
.card-heading{
	
		margin-left: 30%;
		padding: 20px 0px;
		background-color: rgb(169, 209, 89);
		text-align: center;
		color: white;
		font-weight:500;
		font-size: 24px;
	}
	
		.card-image img{
			width:70%;
			object-fit:cover;
			height: 170px;
			margin-left: 30%;
		}

		.card-para{
			width:70%;
			object-fit:cover;
			height: 170px;
			margin-left: 30%;
			font-size: 24px;
		}
	
		
		
		.ul2{
			line-height: 2rem;
			 font-weight: bolder;
			 margin-left: 50%;
		}
				
		input[type="text"]{
			background-color: #9e72726b;
			display: block;
			padding:10px;
			font-weight: bolder;
			width:30%;
			margin-top: 50px;
			margin-left: 200px;
		}	
				
		.card-heading-1A{
	
			margin-left: 30%;
			padding: 20px 0px;
			
			text-align: center;
			color:black;
			font-weight:900;
			font-size: 24px;
		}
		
		.card4{
			width:500px;
			
			margin-left: 20%;
		
		
		
		}
		.card-4A{
			float: left;
			margin-left: 10%;
			width:100px;
			background-color: chartreuse;
			height: 100px;
			padding: 30px 0px;
			text-align: center;
			font-weight:500;
		    font-size: 24px;
		}
		.card-4B{
			float: left;
			width:400px;
			background-color: rgb(108, 128, 89);
			height: 100px;

		}
		.card-5{
			width:500px;
			float: left;

			margin-left: 60%;
			
		
		
		}
		.card-5A{
			float: left;
			width:100px;
			background-color: chartreuse;
			height: 100px;
			padding: 30px 0px;
			text-align: center;
			font-weight:500;
		    font-size: 24px;
		}
		.card-5B{
			float: left;
			width:400px;
			background-color: rgb(108, 128, 89);
			height: 100px;

		}
footer{
	text-align: center;
	font-weight:500;
		    font-size: 24px;
			padding:50px;
}